{% macro errorlisting(errorlist) -%}
    {% if errorlist %}
      <p>
        The following problems were found:
      </p>
      <table>
        <thead>
          <tr>
            {% for fieldname in errorlist[0].keys() %}
              <th class="{{fieldname.lower().replace(' ', '-')}}">{{ fieldname }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for result in errorlist %}
            <tr>
                {% for fieldname, fieldvalue in result.items() %}
                  <td class="{{fieldname.lower().replace(' ', '-')}}">{{ fieldvalue }}</td>
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>No problems were found.</p>
    {% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>JIRA/Currenttime checker</title>
    <link type="text/css" href="static/index.css" rel="stylesheet"/>
</head>
<body>

    <h1>Welcome to the experimental JIRA/Currenttime checker!</h1>
    <p>
        The JIRA/Currenttime checker compares the hours logged in JIRA and CurrentTime and reports any discrepancies
        it finds.
    </p>

    <p>
        The values are updated roughly every 5 minutes. Some changes will take longer to appear:<br />
        New JIRA-tasks takes roughly an hour to appear.<br />
        CurrentTime projects, tasks and subtasks are refreshed nightly, so a new subtask will normally not  be
        available until the next day.
    </p>

    <p>
        Current, the following checks have been implemented.


    </p>

    <ul>
        <li>
            <strong>Differences in total number of hours in JIRA and CurrentTime</strong>
            <div>
                This test checks for differences between the total number of hours logged in JIRA and the
                total number of hours logged in CurrentTime.
            </div>
            <div>
              The results can be viewed directly <a href="#total_hours">below</a> or be downloaded as
              a <a href="compare-totals.csv">csv file</a>.
            </div>
        </li>
        <li>
            <strong>Problems with CurrentTime entries that refer to JIRA-issues</strong>
            <div>
                This test checks for problems with CurrentTime entries that refer to JIRA-issues in
                the "Note" field.
            </div>
            <div>
              The results can be viewed directly <a href="#current_time_with_jira_keys_results">below</a>
              or be downloaded as a <a href="currenttime-with-jira-keys.csv">csv file</a>.
            </div>
        </li>
        <li>
            <strong>Problems with JIRA customfield mappings</strong>
            <div>
                This test checks for problems with JIRA entries that has a customfield value that maps them
                to a CurrentTime subtask. (As specified in the <a href="customfieldvalue-config">configuration</a>).
            </div>
            <div>
              The results can be viewed directly <a href="#customfield_mapping_results">below</a>
              or be downloaded as a <a href="customfield_mapping.csv">csv file</a>.
            </div>
        </li>
    </ul>

    <ul>
        <li>
            <a href="static/jira-currenttime.xlsx">jira-currenttime.xlsx</a>
        </li>
    </ul>

    <hr />
    <h2 id="total_hours">Differences in total number of hours in JIRA and CurrentTime</h2>
    {{errorlisting(totals_results)}}


    <hr />
    <h2 id="current_time_with_jira_keys_results">Differences in total number of hours in JIRA and CurrentTime</h2>
    {{errorlisting(current_time_with_jira_keys_results)}}


    <hr />
    <h2 id="customfield_mapping_results">Differences in hours in JIRA-issues that is mapped to a specific CurrentTime subtask</h2>
    {{errorlisting(customfield_mapping_results)}}



    <hr />

    <p>
        These checks have been implemented using SESAM, and are described in detail at
        <a href="https://github.com/sesam-io/sesam-jira-currenttime-example">https://github.com/sesam-io/sesam-jira-currenttime-example</a>.
    </p>
    <p>
        Comments, suggestions and questions should be sent to <a href="mailto:knut.johannessen@sesam.io">knut.johannessen@sesam.io</a>
    </p>

    <p>
        <a href="ui?url={{swagger_file_url}}#/default">API reference</a>
    </p>

</body>
</html>