<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>JIRA project+component mapping configuration</title>
    <link type="text/css" href="static/index.css" rel="stylesheet"/>
</head>
<body>
    <h1>JIRA project+component mapping configuration</h1>
    <p>
      One way to tell the JIRA/Currenttime checker which JIRA-issues and CurrentTime subtasks are connected
      is by manually specifying that certain JIRA-projects (and optionally JIRA Components) "belongs to" a
      CurrentTime task.
    </p>

    <div>
        <form action="" id="add-mapping-form">
            <div>
                <fieldset style="display:inline">
                    <legend>JIRA:</legend>
                    <label>Project:
                        <select name="jira-project">
                        </select>
                    </label>
                    <label id="jira-component-parent">Component:
                        <select name="jira-component">
                        </select>
                    </label>
                </fieldset>
            </div>

            <div style="margin-left:10em">⇩</div>

            <div>
                <fieldset style="display:inline">
                    <legend>CurrentTime:</legend>
                    <label>Project:
                        <select name="currenttime-project">
                            <option value="0">*Select a project*</option>
                        </select>
                    </label>
                    <label>Subproject:
                        <select name="currenttime-task">
                        </select>
                    </label>
                    <label>Task:
                        <select name="currenttime-subtask">
                        </select>
                    </label>
                </fieldset>
            </div>
            <br />

            <button type="submit" id="add-mapping-button">Add mapping</button>

        </form>

    </div>

    <hr />

    <h2>JIRA project&component => CurrentTime task mappings:</h2>
    <div id="jira-project-component-mappings">
        {{mappings|safe}}
    </div>

    <div id="busyIndicator"></div>
    <script src="static/jquery-3.1.1.js"></script>
    <script >
        var jiraProjects = {{ jira_projects| safe }};
        var currenttimeProjects = {{ currenttime_projects | safe }};

    </script>
    <script src="static/jira_project_component_config.js"></script>


</body>

</html>